<template>
    <div>
        <br/>
        <h2>Сотрудники</h2>
        <br/>
        <emloyees-table></emloyees-table>
    </div>
</template>

<script>
import EmloyeesTable from "./components/EmployeesTable";

export default {
  components: {
    EmloyeesTable
  }
};
</script>

