<template>
    <div>
        <v-progress-circular
            v-if="loading"
            :width="3"
            color="#01579B"
            indeterminate
        ></v-progress-circular>
        <main-form v-show="!loading">
            <div slot="form">
                <v-avatar class="avatar-wrap" size="100px">
                    <input @change="imageHandle" class="file-upload" type="file" accept="image/*"/>
                    <img :src="avatarPreview" alt="">
                </v-avatar>
                <v-text-field
                    v-model="fullName"
                    :counter="100"
                    label="ФИО"
                    required
                ></v-text-field>
                <v-select :key="id" v-for="(name, id) in specifications"
                    v-model="selectedSpecifications[id]"
                    :items="specificationsValues"
                    :label="name"
                    @change="onSpecificationsChange(id)"
                ></v-select>
                <v-select
                    :items="projects && Object.values(projects)"
                    v-model="selectedProjects"
                    label="Выберите проект"
                    :multiple="isMultiply"
                    chips
                ></v-select>
                <br>
                <v-btn
                    color="success"
                    @click="formSubmit"
                >
                    Создать
                </v-btn>
            </div>
        </main-form>
    </div>
</template>

<script>
import MainForm from "../../../../components/Form";
import { store } from "../../../../api/employees";

export default {
  components: {
    MainForm
  },
  props: {
    projects: Object,
    specifications: Object,
    loading: Boolean
  },
  data() {
    return {
      form: null,
      fullName: "",
      selectedSpecifications: {},
      selectedProjects: "",
      specificationsValues: [...Array(11).keys()],
      isMultiply: false,
      avatarPreview: "/uploads/avatars/default.jpg"
    };
  },
  methods: {
    onSpecificationsChange(id) {
      if (id == 3) {
        this.isMultiply = this.selectedSpecifications[id] == 10;
      }
    },
    imageHandle(e) {
      let files = e.target.files;
      this.setImageToPreview(files);
      this.setImageToForm(files);
    },
    setImageToPreview(files) {
      let reader = new FileReader();

      if (files.length === 0) {
        this.showNotification("Ошибка загрузки файла", "error");
        return false;
      }

      reader.onload = e => {
        this.avatarPreview = e.target.result;
      };

      reader.readAsDataURL(files[0]);

      return true;
    },
    setImageToForm(files) {
      this.form.append("image", files[0], files[0].name);
    },
    formSubmit() {
      this.appendData();

      store(this.form)
        .then(({ data, status }) => {
          if (status === 201) {
            const { message } = data;
            this.showNotification(message, "success");
            this.$router.push({ name: "employees" });
          }
        })
        .catch(({ response, status }) => {
          if (response.status === 422) {
            const { message } = response.data;
            this.showNotification(message, "error");
          }
        });
    },
    appendData() {
      this.form.append("fullName", this.fullName);
      this.form.append("projects", this.selectedProjects);
      this.form.append(
        "specifications",
        JSON.stringify(this.selectedSpecifications)
      );
    },
    showNotification(message, type) {
      this.$notify({
        type: type,
        text: message
      });
    }
  },
  mounted() {
    this.form = new FormData();
  },
  watch: {
    isMultiply(val) {
      this.selectedProjects = null;
    }
  }
};
</script>

<style scoped>
.file-upload {
  position: absolute;
  padding: 35px 0;
  width: 100%;
  opacity: 0;
}
</style>


