<template>
    <v-form class="v-form" v-model="valid">
        <slot name="form"></slot>
    </v-form>
</template>

<style scoped>
.v-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>

<script>
export default {
  data() {
    return {
      valid: null
    };
  }
};
</script>

