<template>
    <v-toolbar>
        <v-toolbar-title
            class="toolbar-title"
            @click="routeTo('employees')"
        >
            Сотрудники
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn
                outline
                class="button"
                color="#01579B"
                @click="routeTo('employees.create')"
            >
                Создать сотрудника
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
  methods: {
    routeTo(name) {
      this.$router.push({ name: name });
    }
  }
};
</script>

<style scoped>
.toolbar-title {
  cursor: pointer;
}
.button {
  height: 60% !important;
}
</style>


