<template>
    <v-app>
        <header-component />
            <v-content>
                <div class="content">
                    <router-view></router-view>
                </div>
            </v-content>
        <footer-component />
        <notifications/>
    </v-app>
</template>

<script>
import HeaderComponent from "../components/Header";
import FooterComponent from "../components/Footer";

export default {
  components: {
    HeaderComponent,
    FooterComponent
  }
};
</script>

