<template>
    <div>
        <br />
        <h2>Создание сотрудника</h2>
        <br />
        <create-employee-form
            :projects="projects"
            :specifications="specifications"
            :loading="isLoading"
        />
    </div>
</template>

<script>
import CreateEmployeeForm from "./components/CreateEmployeeForm";
import { getAll as projectsGetAll } from "../../../api/projects";
import { getAll as specificationsGetAll } from "../../../api/specifications";

export default {
  components: {
    CreateEmployeeForm
  },
  data() {
    return {
      projects: null,
      specifications: null,
      isLoading: true
    };
  },
  mounted() {
    projectsGetAll()
      .then(({ data, status }) => {
        if (status === 200) {
          this.projects = data;
        }
      })
      .then(data => {
        specificationsGetAll().then(({ data, status }) => {
          if (status === 200) {
            this.specifications = data;
          }
        });
      })
      .then(data => {
        this.isLoading = false;
      });
  }
};
</script>

