<template>
    <div class="app-table">
        <v-card>
            <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Поиск"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="employees"
                :search="search"
                :loading="isLoading"
                :disable-initial-sort="true"
            >
            <v-progress-linear height="3" slot="progress" color="#01579B" indeterminate></v-progress-linear>
            <template slot="items" slot-scope="props">
                <td>{{ props.item.full_name }}</td>
                <td>
                    <v-avatar size="35px">
                        <img :src="props.item.avatar" alt="Avatar">
                    </v-avatar>
                </td>
                <td>{{ props.item.communication || "-" }}</td>
                <td>{{ props.item.engineering || "-" }}</td>
                <td>{{ props.item.time_management || "-" }}</td>
                <td>{{ props.item.languages_skills || "-" }}</td>
                <td>{{ props.item.projects_count || "-" }}</td>
                <td>{{ props.item.specifications_avg || "-" }}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                По вашему запросу "{{ search }}" не найдено результатов.
            </v-alert>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>
import { getAll } from "./../../../api/employees";

export default {
  data() {
    return {
      search: "",
      isLoading: true,
      headers: [
        { text: "ФИО", align: "left", value: "full_name" },
        { text: "Фото", value: "avatar", sortable: false },
        { text: "Коммуникабельность", value: "communication" },
        { text: "Инженерные навык", value: "engineering" },
        { text: "Тайм менеджмент", value: "time_management" },
        { text: "Знание языков", value: "languages_skills" },
        { text: "Кол-во проектов", value: "projects_count" },
        { text: "Среднее значение характеристик", value: "specifications_avg" }
      ],
      employees: []
    };
  },
  methods: {
    prepareDataToDisplay(data) {
      this.employees = data.map(item => {
        let employee = {};
        for (let i in item) {
          if (typeof item[i] === "object") {
            Object.assign(employee, { ...item[i] });
          } else {
            employee[i] = item[i];
          }
        }
        return employee;
      });
    }
  },
  mounted() {
    getAll(this.form).then(({ data, status }) => {
      if (status === 200) {
        this.prepareDataToDisplay(data);
        this.isLoading = false;
      }
    });
  }
};
</script>

<style scoped>
.app-table {
  padding: 0 50px;
}
</style>

